.DS_Store
**/.DS_Store
*.docx

# Question 2 Data (Excluded)
question2/COLMAP/
question2/clean_frames/
question2/Videos/
question2/SLAM/

# Question 3 Data (Excluded)
question3/data/

# General patterns to ignore
**/evo/
*results.txt
*ref_tum.txt
__pycache__/
*.pyc
*.npy
*.db
*.bin
*.bag
*.json

Final Video.mp4
