.DS_Store
**/.DS_Store
*.docx

# Data folders (Excluded)
camera/COLMAP/
camera/clean_frames/
camera/Videos/
camera/data_without_bag/
camera/SLAM/
lidar_processing/data/

# Specific result files
**/evo/
*results.txt
*ref_tum.txt
__pycache__/
*.pyc
*.npy
*.db
*.bin
