# Data files (bag only - too large for git)
lidar_processing/data/*.bag

# Generated camera frame exports
camera/Videos/

# macOS
.DS_Store
**/.DS_Store

# Documents
*.docx

# SLAM Data and Results (Exclude from submission)
camera/COLMAP/
camera/clean_frames/
camera/Videos/
camera/data_without_bag/
lidar_processing/data/
**/*.npy
**/*.db
**/*.bin

# Build files and SLAM results
__pycache__/
*.pyc
*/evo/
*results.txt
*ref_tum.txt
